# Ignorar as pastas de imagens e datasets
datasets/
graficos/
images-results/
overleaf/
.venv-amd/
.vscode/

# Ignorar os resultados e pesos pesados da IA
runs/
*.pt

# Ignorar arquivos temporários do Python
__pycache__/